.box {
	border: 1px solid !important;
    border-radius: 5px !important;
	padding: 10px !important;
	margin: 0px 10px 0px 10px !important;
}

.sub-box {
  display: flex !important; 
  flex-direction: row !important; 
  align-items: center !important;
}

.code {
	background: #ececec; 
}

.pre {
	background: #ececec; 
}

.type1 {
	border-color: black;
	background-color: rgb(246, 255, 222); 
}

.type2 {
	border-color: black;
	background-color: rgb(227, 242, 193); 
}

.type3 {
	border-color: black;
	background-color: rgb(201, 219, 178); 
}

.type4 {
	border-color: black;
	background-color: rgb(170, 200, 167); 
}

.type5 {
    border-color: black;
	background-color: rgb(181, 192, 208);
}

.type6 {
    border-color: black;
	background-color: rgb(255, 195, 116);
}

.picture {
	width: 30px; 
	height: 30px;
	margin: 0 0 0px 0;
}

.ctitle {
    margin: 0px 0px 0px 20px;
}